Repository Sach-P/UNUS: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, autoDeploy, android-build, android_test

maven-build:
  stage: mavenbuild
  tags:
  - springboot_tag
  script:
  - cd Backend/UNUS
  - mvn package

maven-test:
  stage: maventest
  tags:
  - springboot_tag
  script:
  - cd Backend/UNUS
  - mvn test
  artifacts:
    paths:
    - Backend/target/*.jar

autoDeploy:
  stage: mavenDeploy
  tags:
  - springboot_tag
  script:
  - cd Backend/UNUS
  - mvn package
  - sudo mv target/*.jar /target/web-demo.jar
  - sudo systemctl stop system-web-demo
  - sudo systemctl start system-web-demo

android-build:
  image: gjandres/android-ci:latest
  stage: androidbuild
  tags:
  - android_tag
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/Unus/gradlew
  script:
  - cd Frontend/Unus
  - ./gradlew assemble
  artifacts:
    paths:
    - Android_test/app/build/outputs/

android_test:
  image: gjandres/android-ci:latest
  stage: androidtest
  tags:
  - android_tag
  before_script:
  - export GRADLE_USER_HOME='pwd'/.gradle
  - chmod +x ./Frontend/Unus/gradlew
  script:
  - cd Frontend/Unus
  - ./gradlew test

forgot to add this to the last commit
  Frontend/Unus/.idea/misc.xml
Due: android-build

leaderboardtest got screwed up for some reason, hopefully fixed now
  Frontend/Unus/.idea/androidTestResultsUserPreferences.xml
  Frontend/Unus/app/src/androidTest/java/com/example/unus/LeaderboardTest.java
Due: android-build

Added card object tests
  Frontend/Unus/.idea/misc.xml
  Frontend/Unus/app/src/androidTest/java/com/example/unus/CardTest.java
Due: android-build

made Friend and Team tests have 100% coverage
  Frontend/Unus/app/src/test/java/com/example/unus/FriendTypeTest.java
  Frontend/Unus/app/src/test/java/com/example/unus/TeamTypeTest.java
Due: android-build

Moved unit tests to androidTest folder for coverage report purposes
  Frontend/Unus/app/src/androidTest/java/com/example/unus/FriendTypeTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/TeamTypeTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/UserDataTest.java
Due: android-build

added ability to create coverage report
  Frontend/Unus/app/build.gradle
Due: android-build

Added additional instrumentation tests
  Frontend/Unus/.idea/misc.xml
  Frontend/Unus/app/src/androidTest/java/com/example/unus/AdminPageTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/CardTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/GameLobbyTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/JoinLobbyFragmentTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/LoginTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/TeamFragmentTest.java
Due: android-build

delete users fix
  Backend/UNUS/application.log
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/UserController.java
Due: maven-build, maven-test, autoDeploy, android_test

fixed delete users
  Backend/UNUS/application.log
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/UserController.java
Due: maven-build, maven-test, autoDeploy, android_test

Fixed team leaderboard
  Frontend/Unus/.idea/misc.xml
  Frontend/Unus/app/src/main/java/com/example/unus/LeaderboardFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/UserSettingsFragment.java
Due: android-build

Update README.md
  README.md
Due: none

put application logs and config files in .gitignore
  Backend/UNUS/.gitignore
  Backend/UNUS/application.log
  Backend/UNUS/application.log.2022-11-30.0.gz
  Backend/UNUS/application.log.2022-12-01.0.gz
  Backend/UNUS/application.log.2022-12-04.0.gz
  Backend/UNUS/application.log.2022-12-05.0.gz
  Backend/UNUS/application.log.2022-12-06.0.gz
  Backend/UNUS/src/main/resources/application.properties
Due: maven-build, maven-test, autoDeploy, android_test

Path conditions:
  maven-build: any of: Backend/**/*
  maven-test: any of: Backend/**/*
  autoDeploy: any of: Backend/**/*
  android-build: any of: Frontend/**/*
  android_test: any of: Backend/**/*
