Repository Sach-P/UNUS: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, autoDeploy, android-build, android_test

maven-build:
  stage: mavenbuild
  tags:
  - springboot_tag
  script:
  - cd Backend/UNUS
  - mvn package

maven-test:
  stage: maventest
  tags:
  - springboot_tag
  script:
  - cd Backend/UNUS
  - mvn test
  artifacts:
    paths:
    - Backend/target/*.jar

autoDeploy:
  stage: mavenDeploy
  tags:
  - springboot_tag
  script:
  - cd Backend/UNUS
  - mvn package
  - sudo mv target/*.jar /target/web-demo.jar
  - sudo systemctl stop system-web-demo
  - sudo systemctl start system-web-demo

android-build:
  image: gjandres/android-ci:latest
  stage: androidbuild
  tags:
  - android_tag
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/Unus/gradlew
  script:
  - cd Frontend/Unus
  - ./gradlew assemble
  artifacts:
    paths:
    - Android_test/app/build/outputs/

android_test:
  image: gjandres/android-ci:latest
  stage: androidtest
  tags:
  - android_tag
  before_script:
  - export GRADLE_USER_HOME='pwd'/.gradle
  - chmod +x ./Frontend/Unus/gradlew
  script:
  - cd Frontend/Unus
  - ./gradlew test

changed comment to test pipeline
  Frontend/Unus/app/src/main/java/com/example/unus/GameTwoPlayerFragment.java
Due: android-build

Fixed android-test run conditions
  .gitlab-ci.yml
Due: none

added missing method doc comment
  Frontend/Unus/app/src/main/java/com/example/unus/GameTwoPlayerFragment.java
Due: android-build

added fix for javadocs
  Frontend/Unus/.idea/misc.xml
  Frontend/Unus/app/build.gradle
Due: android-build

Added more comments to my code for Javadocs
  Frontend/Unus/.idea/misc.xml
  Frontend/Unus/app/src/main/java/com/example/unus/ChatLayout.java
  Frontend/Unus/app/src/main/java/com/example/unus/ConfirmationLayout.java
  Frontend/Unus/app/src/main/java/com/example/unus/FriendRequestFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/LeaderboardFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/UserProfileFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/UserSearchFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/UserSettingsFragment.java
Due: android-build

added missing param and return tags for java docs
  Frontend/Unus/app/src/main/java/com/example/unus/Card.java
  Frontend/Unus/app/src/main/java/com/example/unus/GameTwoPlayerFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/LogInScreenFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/SignUpScreenFragment.java
Due: android-build

adding teams
  Backend/UNUS/application.log
  Backend/UNUS/application.log.2022-11-13.0.gz
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Friends/FriendController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Game/GameSocket.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Lobbies/Lobby.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Lobbies/LobbyController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Lobbies/LobbySocket.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Messages/Message.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/Team.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/TeamRepository.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/User.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/UserController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/UserSocket.java
Due: maven-build, maven-test, autoDeploy, android_test

rebuilt javadocs with author enabled
  Documents/JavaDocs/com/example/unus/Card.html
  Documents/JavaDocs/com/example/unus/CardColor.html
  Documents/JavaDocs/com/example/unus/CardRank.html
  Documents/JavaDocs/com/example/unus/ChatLayout.html
  Documents/JavaDocs/com/example/unus/FriendRequestFragment.html
  Documents/JavaDocs/com/example/unus/GameFourPlayerFragment.html
  Documents/JavaDocs/com/example/unus/GameLobbyFragment.html
  Documents/JavaDocs/com/example/unus/GameTwoPlayerFragment.html
  Documents/JavaDocs/com/example/unus/JoinLobbyFragment.html
  Documents/JavaDocs/com/example/unus/LeaderboardFragment.html
  Documents/JavaDocs/com/example/unus/LogInScreenFragment.html
  Documents/JavaDocs/com/example/unus/MainActivity.html
  Documents/JavaDocs/com/example/unus/MainMenuFragment.html
  Documents/JavaDocs/com/example/unus/SignUpScreenFragment.html
  Documents/JavaDocs/com/example/unus/UserData.html
  Documents/JavaDocs/com/example/unus/UserProfileFragment.html
  Documents/JavaDocs/com/example/unus/UserSearchFragment.html
  Documents/JavaDocs/com/example/unus/UserSettingsFragment.html
  Documents/JavaDocs/index.html
  Documents/JavaDocs/member-search-index.zip
  Documents/JavaDocs/package-search-index.zip
  Documents/JavaDocs/type-search-index.zip
  Frontend/Unus/app/build.gradle
Due: android-build

Added Design Document to folder
  Documents/UnusDesignDocument.pdf
Due: none

documentation and teams
  Backend/UNUS/application.log
  Backend/UNUS/pom.xml
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Friends/FriendController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Lobbies/LobbyController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/SpringFox/SpringFoxConfig.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/Team.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/TeamController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/TeamRepository.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/TeamService.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/TeamSocket.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/User.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/UserController.java
  Backend/UNUS/src/main/resources/application.properties
Due: maven-build, maven-test, autoDeploy, android_test

added some more documentation
  Backend/UNUS/application.log
  Backend/UNUS/application.log.2022-11-07.0.gz
  Backend/UNUS/application.log.2022-11-14.0.gz
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Lobbies/LobbySocket.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/Team.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/TeamController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/TeamService.java
  Backend/UNUS/src/main/resources/application.properties
Due: maven-build, maven-test, autoDeploy, android_test

added more docs
  Backend/UNUS/application.log
  Backend/UNUS/src/main/resources/application.properties
Due: maven-build, maven-test, autoDeploy, android_test

added docs and index:
  Backend/UNUS/application.log
  Documents/index.html
Due: maven-build, maven-test, autoDeploy, android_test

index.html
  Documents/index.html
Due: none

added more docs
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Friends/FriendController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Lobbies/LobbyController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/TeamController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/User.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/UserController.java
Due: maven-build, maven-test, autoDeploy, android_test

fixed the html page
  Documents/index.html
Due: none

Added menu buttons to game session screen
  Frontend/Unus/.idea/misc.xml
  Frontend/Unus/app/src/main/res/drawable/ic_pause_button.xml
  Frontend/Unus/app/src/main/res/layout/booted_popup.xml
  Frontend/Unus/app/src/main/res/layout/fragment_game_two_player.xml
Due: android-build

started admin page and the admin page class
  Frontend/Unus/.idea/misc.xml
  Frontend/Unus/app/src/main/java/com/example/unus/AdminPageFragment.java
  Frontend/Unus/app/src/main/res/layout/fragment_admin_page.xml
  Frontend/Unus/app/src/main/res/values/strings.xml
Due: android-build

added toJson object to card class
  Frontend/Unus/app/src/main/java/com/example/unus/Card.java
Due: android-build

fixed stack overflow error
  Backend/UNUS/application.log
  Backend/UNUS/application.log.2022-11-09.0.gz
  Backend/UNUS/application.log.2022-11-12.0.gz
  Backend/UNUS/application.log.2022-11-13.0.gz
  Backend/UNUS/application.log.2022-11-14.0.gz
  Backend/UNUS/application.log.2022-11-15.0.gz
  Backend/UNUS/application.log.2022-11-18.0.gz
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/Team.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/TeamController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/TeamService.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/User.java
  Backend/UNUS/src/main/resources/application.properties
Due: maven-build, maven-test, autoDeploy, android_test

forgot to change config file again
  Backend/UNUS/application.log
  Backend/UNUS/src/main/resources/application.properties
Due: maven-build, maven-test, autoDeploy, android_test

Added logic to allow messages from same websocket to more than one fragment
  Frontend/Unus/app/src/main/java/com/example/unus/MainActivity.java
Due: android-build

Made lobby hosting asynchronous to prevent need for button double click when response is slow
  Frontend/Unus/app/src/main/java/com/example/unus/MainMenuFragment.java
Due: android-build

Removed issue with no attached context and error caused by server sending empty response
  Frontend/Unus/.idea/misc.xml
  Frontend/Unus/app/src/main/java/com/example/unus/GameLobbyFragment.java
Due: android-build

guests
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Friends/FriendService.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Lobbies/LobbyService.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/TeamController.java
Due: maven-build, maven-test, autoDeploy, android_test

added more methods for user roles
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Game/GameSocket.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/TeamController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/UserSocket.java
Due: maven-build, maven-test, autoDeploy, android_test

admin page now gets users and can search for users
  Frontend/Unus/app/src/main/java/com/example/unus/AdminPageFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/MainMenuFragment.java
  Frontend/Unus/app/src/main/res/layout/fragment_admin_page.xml
  Frontend/Unus/app/src/main/res/layout/fragment_main_menu.xml
  Frontend/Unus/app/src/main/res/values/strings.xml
Due: android-build

Added constructor using json to card object
  Frontend/Unus/.idea/deploymentTargetDropDown.xml
  Frontend/Unus/app/src/main/java/com/example/unus/Card.java
Due: android-build

Removed player count per game play fragment. Will use one fragment
  Frontend/Unus/app/src/main/java/com/example/unus/GameFourPlayerFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/GameLobbyFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/GamePlayFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/MainActivity.java
  Frontend/Unus/app/src/main/res/layout/fragment_game_four_player.xml
  Frontend/Unus/app/src/main/res/layout/fragment_game_play.xml
Due: android-build

Update deploymentTargetDropDown.xml
  Frontend/Unus/.idea/deploymentTargetDropDown.xml
Due: android-build

Added websocket implementation of playing cards
  Frontend/Unus/.idea/deploymentTargetDropDown.xml
  Frontend/Unus/.idea/misc.xml
  Frontend/Unus/app/src/main/java/com/example/unus/GameLobbyFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/GamePlayFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/MainActivity.java
  Frontend/Unus/app/src/main/res/values/strings.xml
Due: android-build

delete users doesn't work rn but you should be able to delete users from the admin page
  Frontend/Unus/app/src/main/java/com/example/unus/AdminPageFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/MainMenuFragment.java
  Frontend/Unus/app/src/main/res/layout/fragment_main_menu.xml
Due: android-build

added the menu to change peoples stats in the admin page
  Frontend/Unus/app/src/main/java/com/example/unus/AdminPageFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/AdminUserPopup.java
  Frontend/Unus/app/src/main/res/layout/admin_user_popup.xml
  Frontend/Unus/app/src/main/res/values/strings.xml
Due: android-build

delete user bug fix
  Backend/UNUS/application.log
  Backend/UNUS/application.log.2022-11-15.0.gz
  Backend/UNUS/application.log.2022-11-18.0.gz
  Backend/UNUS/application.log.2022-11-24.0.gz
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/UserController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/UserRepository.java
Due: maven-build, maven-test, autoDeploy, android_test

added entire idea folder to git ignore
  .gitignore
  Frontend/Unus/.gitignore
Due: android-build

removed .idea from repo
  .idea/.gitignore
  .idea/2_an_5.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  Frontend/Unus/.gitignore
Due: android-build

fixed git ignore
  .idea/.gitignore
  .idea/2_an_5.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

added user test case
  Backend/UNUS/application.log
  Backend/UNUS/application.log.2022-11-28.0.gz
  Backend/UNUS/pom.xml
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/UserController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/UserRepository.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/UserSocket.java
  Backend/UNUS/src/main/resources/application.properties
  Backend/UNUS/src/test/java/com/_an_5/UNUS/UserRepository.java
  Backend/UNUS/src/test/java/com/_an_5/UNUS/UserTests.java
Due: maven-build, maven-test, autoDeploy, android_test

Path conditions:
  maven-build: any of: Backend/**/*
  maven-test: any of: Backend/**/*
  autoDeploy: any of: Backend/**/*
  android-build: any of: Frontend/**/*
  android_test: any of: Backend/**/*
