Repository Sach-P/UNUS: changes, and which GitLab CI jobs are due for each by the changed paths.
All: maven-build, maven-test, autoDeploy, android-build, android_test

maven-build:
  stage: mavenbuild
  tags:
  - springboot_tag
  script:
  - cd Backend/UNUS
  - mvn package

maven-test:
  stage: maventest
  tags:
  - springboot_tag
  script:
  - cd Backend/UNUS
  - mvn test
  artifacts:
    paths:
    - Backend/target/*.jar

autoDeploy:
  stage: mavenDeploy
  tags:
  - springboot_tag
  script:
  - cd Backend/UNUS
  - mvn package
  - sudo mv target/*.jar /target/web-demo.jar
  - sudo systemctl stop system-web-demo
  - sudo systemctl start system-web-demo

android-build:
  image: gjandres/android-ci:latest
  stage: androidbuild
  tags:
  - android_tag
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - chmod +x ./Frontend/Unus/gradlew
  script:
  - cd Frontend/Unus
  - ./gradlew assemble
  artifacts:
    paths:
    - Android_test/app/build/outputs/

android_test:
  image: gjandres/android-ci:latest
  stage: androidtest
  tags:
  - android_tag
  before_script:
  - export GRADLE_USER_HOME='pwd'/.gradle
  - chmod +x ./Frontend/Unus/gradlew
  script:
  - cd Frontend/Unus
  - ./gradlew test

added user check for delete user back
  Backend/UNUS/application.log
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/UserController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/UserRepository.java
Due: maven-build, maven-test, autoDeploy, android_test

worked on admin change user stats feature
  Frontend/Unus/app/src/main/java/com/example/unus/AdminPageFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/AdminUserPopup.java
  Frontend/Unus/app/src/main/java/com/example/unus/LogInScreenFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/MainMenuFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/UserData.java
  Frontend/Unus/app/src/main/java/com/example/unus/UserSettingsFragment.java
Due: android-build

adding test cases
  Backend/UNUS/application.log
  Backend/UNUS/application.log.2022-11-29.0.gz
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/User.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/UserController.java
  Backend/UNUS/src/test/java/com/_an_5/UNUS/UserTests.java
Due: maven-build, maven-test, autoDeploy, android_test

you can now promote another player to an admin. You can now delete lobbies as well
  Frontend/Unus/.idea/deploymentTargetDropDown.xml
  Frontend/Unus/app/src/main/java/com/example/unus/AdminPageFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/AdminUserPopup.java
  Frontend/Unus/app/src/main/res/layout/admin_user_popup.xml
  Frontend/Unus/app/src/main/res/layout/fragment_admin_page.xml
  Frontend/Unus/app/src/main/res/values/strings.xml
Due: android-build

password is no longer json ignored
  Backend/UNUS/application.log
  Backend/UNUS/application.log.2022-11-24.0.gz
  Backend/UNUS/application.log.2022-11-30.0.gz
  Backend/UNUS/application.log.2022-12-01.0.gz
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/User.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/UserController.java
  Backend/UNUS/src/main/resources/application.properties
  Backend/UNUS/src/test/java/com/_an_5/UNUS/FriendTests.java
  Backend/UNUS/src/test/java/com/_an_5/UNUS/UserTests.java
Due: maven-build, maven-test, autoDeploy, android_test

added working tests, will add more later
  Frontend/Unus/.idea/androidTestResultsUserPreferences.xml
  Frontend/Unus/app/src/androidTest/java/com/example/unus/ASignupTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/DeleteUserTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/LoginTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/UserProfileTest.java
Due: android-build

test pushing tests
  Backend/UNUS/application.log
  Backend/UNUS/application.log.2022-12-04.0.gz
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Friends/FriendController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Friends/FriendService.java
  Backend/UNUS/src/test/java/com/_an_5/UNUS/FriendTests.java
  Backend/UNUS/src/test/java/com/_an_5/UNUS/UnusApplicationTests.java
  Backend/UNUS/src/test/java/com/_an_5/UNUS/UserTests.java
Due: maven-build, maven-test, autoDeploy, android_test

pushing tests 2
  Backend/UNUS/application.log
  Backend/UNUS/src/test/java/com/_an_5/UNUS/FriendTests.java
Due: maven-build, maven-test, autoDeploy, android_test

trying to push tests to remote server take 3
  Backend/UNUS/application.log
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Friends/FriendService.java
Due: maven-build, maven-test, autoDeploy, android_test

trying again with less tests
  Backend/UNUS/application.log
  Backend/UNUS/src/test/java/com/_an_5/UNUS/FriendTests.java
Due: maven-build, maven-test, autoDeploy, android_test

put friend tests back in to see if it works
  Backend/UNUS/src/test/java/com/_an_5/UNUS/FriendTests.java
Due: maven-build, maven-test, autoDeploy, android_test

just going to merge to main to see if that works
  Backend/UNUS/src/test/java/com/_an_5/UNUS/FriendTests.java
Due: maven-build, maven-test, autoDeploy, android_test

started teams
  Frontend/Unus/app/src/main/java/com/example/unus/Team.java
  Frontend/Unus/app/src/main/java/com/example/unus/TeamsFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/UserProfileFragment.java
  Frontend/Unus/app/src/main/res/layout/fragment_teams.xml
  Frontend/Unus/app/src/main/res/layout/fragment_user_profile.xml
  Frontend/Unus/app/src/main/res/layout/team_popup.xml
  Frontend/Unus/app/src/main/res/values/strings.xml
Due: android-build

fixed bugs with guests and teams, added test cases for lobbies and teams
  Backend/UNUS/application.log
  Backend/UNUS/application.log.2022-11-28.0.gz
  Backend/UNUS/application.log.2022-12-05.0.gz
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Lobbies/LobbyController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/TeamController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/User.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/UserController.java
  Backend/UNUS/src/main/resources/application.properties
  Backend/UNUS/src/test/java/com/_an_5/UNUS/LobbyTests.java
  Backend/UNUS/src/test/java/com/_an_5/UNUS/TeamTests.java
  Backend/UNUS/src/test/java/com/_an_5/UNUS/UserTests.java
Due: maven-build, maven-test, autoDeploy, android_test

forgot to change config file
  Backend/UNUS/src/main/resources/application.properties
Due: maven-build, maven-test, autoDeploy, android_test

done with the big features for teams
  Frontend/Unus/app/src/main/java/com/example/unus/AdminPageFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/LeaderboardFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/Team.java
  Frontend/Unus/app/src/main/java/com/example/unus/TeamsFragment.java
  Frontend/Unus/app/src/main/res/layout/fragment_admin_page.xml
  Frontend/Unus/app/src/main/res/layout/fragment_leaderboard.xml
  Frontend/Unus/app/src/main/res/layout/fragment_teams.xml
  Frontend/Unus/app/src/main/res/layout/team_create_layout.xml
  Frontend/Unus/app/src/main/res/layout/team_popup.xml
  Frontend/Unus/app/src/main/res/values/strings.xml
Due: android-build

added gameplay rules
  Frontend/Unus/.idea/misc.xml
  Frontend/Unus/app/src/main/java/com/example/unus/GameLobbyFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/GamePlayFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/MainMenuFragment.java
  Frontend/Unus/app/src/main/res/layout/fragment_game_play.xml
  Frontend/Unus/app/src/main/res/layout/player_left_popup.xml
  Frontend/Unus/app/src/main/res/values/strings.xml
Due: android-build

moved username array creation to pre-game lobby
  Frontend/Unus/.idea/misc.xml
  Frontend/Unus/app/src/main/java/com/example/unus/GameLobbyFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/GamePlayFragment.java
Due: android-build

putting tests in temporary folder
  Backend/UNUS/application.log
  Backend/UNUS/src/test/TemporaryTests/FriendTests.java
  Backend/UNUS/src/test/TemporaryTests/LobbyTests.java
  Backend/UNUS/src/test/TemporaryTests/TeamTests.java
  Backend/UNUS/src/test/TemporaryTests/UserTests.java
Due: maven-build, maven-test, autoDeploy, android_test

added reverse card logic
  Frontend/Unus/app/src/main/java/com/example/unus/GamePlayFragment.java
Due: android-build

almost done with team features and admin features
  Frontend/Unus/app/src/androidTest/java/com/example/unus/LoginTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/UserProfileTest.java
  Frontend/Unus/app/src/main/java/com/example/unus/AdminPageFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/LeaderboardFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/TeamsFragment.java
Due: android-build

hopefully finished both teams and admin
  Frontend/Unus/app/src/androidTest/java/com/example/unus/LoginTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/UserProfileTest.java
  Frontend/Unus/app/src/main/java/com/example/unus/AdminPageFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/Friend.java
  Frontend/Unus/app/src/main/java/com/example/unus/TeamsFragment.java
  Frontend/Unus/app/src/main/res/layout/fragment_admin_page.xml
  Frontend/Unus/app/src/main/res/layout/fragment_teams.xml
Due: android-build

renamed delete user to test better
  Frontend/Unus/app/src/androidTest/java/com/example/unus/ZDeleteUserTest.java
Due: android-build

added player card number display to gameplay
  Frontend/Unus/.idea/misc.xml
  Frontend/Unus/app/src/main/java/com/example/unus/GameLobbyFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/GamePlayFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/MainMenuFragment.java
  Frontend/Unus/app/src/main/res/drawable/ic_blank.xml
  Frontend/Unus/app/src/main/res/layout/fragment_game_play.xml
  Frontend/Unus/app/src/main/res/layout/game_player_display.xml
Due: android-build

added win logic
  Frontend/Unus/app/src/main/java/com/example/unus/GamePlayFragment.java
  Frontend/Unus/app/src/main/res/layout/win_popup.xml
Due: android-build

I now have 10 working tests, 8 of which correspond to my features
  Frontend/Unus/.idea/androidTestResultsUserPreferences.xml
  Frontend/Unus/app/src/androidTest/java/com/example/unus/ChangeUserTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/CreateTeamTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/FriendRequestTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/GlobalChatTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/LeaderboardTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/UserProfileTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/UserSearchTest.java
  Frontend/Unus/app/src/main/java/com/example/unus/LeaderboardFragment.java
Due: android-build

added code to update stats after game
  Frontend/Unus/app/src/main/java/com/example/unus/GamePlayFragment.java
Due: android-build

Update .gitignore
  .gitignore
Due: none

Delete deploymentTargetDropDown.xml
  Frontend/Unus/.idea/deploymentTargetDropDown.xml
Due: android-build

increased Readability
  Frontend/Unus/app/src/main/java/com/example/unus/GameLobbyFragment.java
  Frontend/Unus/app/src/main/java/com/example/unus/GamePlayFragment.java
Due: android-build

last minute tweaks
  Backend/UNUS/application.log
  Backend/UNUS/application.log.2022-11-29.0.gz
  Backend/UNUS/application.log.2022-12-06.0.gz
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Friends/Friend.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Lobbies/Lobby.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Lobbies/LobbyController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/TeamController.java
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Users/User.java
  Backend/UNUS/src/test/TemporaryTests/LobbyTests.java
  Backend/UNUS/src/test/TemporaryTests/TeamTests.java
  Backend/UNUS/src/test/TemporaryTests/UnusApplicationTests.java
  Backend/UNUS/src/test/TemporaryTests/UserTests.java
Due: maven-build, maven-test, autoDeploy, android_test

team fixes
  Backend/UNUS/application.log
  Backend/UNUS/src/main/java/com/_an_5/UNUS/Teams/TeamController.java
  Backend/UNUS/src/test/java/com/_an_5/UNUS/UnusApplicationTests.java
Due: maven-build, maven-test, autoDeploy, android_test

didn't change previous tests but added author tag to them and also added a couple more tests
  Frontend/Unus/.idea/deploymentTargetDropDown.xml
  Frontend/Unus/app/src/androidTest/java/com/example/unus/ASignupTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/ChangeUserTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/CreateTeamTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/FriendRequestTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/GlobalChatTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/LeaderboardTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/UserProfileTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/UserSearchTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/ZDeleteUserTest.java
  Frontend/Unus/app/src/main/java/com/example/unus/AdminPageFragment.java
  Frontend/Unus/app/src/test/java/com/example/unus/FriendTypeTest.java
  Frontend/Unus/app/src/test/java/com/example/unus/TeamTypeTest.java
Due: android-build

removed ExampleUnitTest
  Frontend/Unus/app/src/test/java/com/example/unus/ExampleUnitTest.java
Due: android-build

added junit test for UserData
  Frontend/Unus/app/src/main/java/com/example/unus/UserData.java
  Frontend/Unus/app/src/test/java/com/example/unus/UserDataTest.java
Due: android-build

fixed stat update request
  Frontend/Unus/app/src/main/java/com/example/unus/GamePlayFragment.java
Due: android-build

Completed 100% Coverage of UserData in testing
  Frontend/Unus/app/src/test/java/com/example/unus/UserDataTest.java
Due: android-build

hopefully fixed my tests for the last time delete global chat test because of websocket
  Frontend/Unus/app/src/androidTest/java/com/example/unus/ASignupTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/CreateTeamTest.java
  Frontend/Unus/app/src/androidTest/java/com/example/unus/GlobalChatTest.java
Due: android-build

added UNUS logo
  Frontend/Unus/app/src/main/res/drawable/ic_ub.xml
  Frontend/Unus/app/src/main/res/drawable/ic_unus.xml
  Frontend/Unus/app/src/main/res/layout/fragment_log_in_screen.xml
  Frontend/Unus/app/src/main/res/layout/fragment_main_menu.xml
Due: android-build

Path conditions:
  maven-build: any of: Backend/**/*
  maven-test: any of: Backend/**/*
  autoDeploy: any of: Backend/**/*
  android-build: any of: Frontend/**/*
  android_test: any of: Backend/**/*
